* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,
html {
    height: 100%;
}

.main-container {
    display: flex;
    height: 100vh;
    margin-top: 10em;
}

.main-container p {
    text-align: center;
}

.banner {
    width: 45%;
    background: url('/img/esq-img.png') no-repeat center center;
    background-size: cover;
}

.form-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff86;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        height: auto;
    }

    .banner {
        width: 100%;
        height: 40vh; /* Ajuste a altura conforme necessário */
    }

    .form-section {
        width: 100%;
        padding: 20px;
    }
}

#contact-section .form-container {
    background: rgba(244, 235, 235, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.contact-form-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-form-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.campos-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
}

.campos-form input {
    width: 150%;
}

@keyframes erroSlide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.erro {
    text-align: center;
    color: red;
    border-radius: 3em;
    padding: 0.3em;
    font-size: 1em;
}

#contact-form button,
.btn-finalizar button{
    display: inline-block;
    border-radius: 4px;
    background-color: var(--laranja);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-finalizar {
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}


#contact-form button span,
.btn-finalizar button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   #contact-form button span:after,
   .btn-finalizar button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   #contact-form button:hover span,
   .btn-finalizar button:hover span {
    padding-right: 15px;
   }

   .btn-finalizar button:hover {
       animation: 1s linear;
       transform: translateY(-2px);
       background-color: #ff8c42;
   }
   
   #contact-form button:hover span:after,
   .btn-finalizar button:hover span::after {
    opacity: 1;
    right: 0;
   }

.terms-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.terms-section input {
    width: auto;
}

.terms-section label {
    display: flex;
    flex-wrap: wrap;
}

.terms-section a {
    margin-left: 0.5em;
    color: #ff8c42;
    text-decoration: none;
    font-weight: bold;
}

.terms-section a:hover {
    text-decoration: underline;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    max-height: 80vh; /* Altura máxima do modal */
    display: flex;
    border-radius: 2em;
    flex-direction: column;
}

.modal-conteudo h2 {
    color: var(--roxo);
}

.modal-conteudo h2:hover {
    color: var(--roxo-claro);
}

.fechar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar-modal:hover,
.fechar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.texto-termos {
    flex-grow: 1;
    overflow-y: auto; /* Scroll interno */
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.texto-termos li{
    padding: 1em;
}

/* Barra de progresso */
.progress-bar-div {
    width: 100%;
    height: 10px;
    background-color: #cccccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
}


.progress {
    height: 10px;
    background-color: #ff8c42;
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s ease;
}


/* Estilo da próxima etapa */
#next-step-section {
    display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
    text-align: left;
    padding: 20px;

}

#next-step-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--roxo-escuro);
}

#next-step-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

#next-step-section p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
}

#next-step-section .highlight {
    font-weight: bold;
    color: var(--roxo-escuro);
}

/* Estilos do carrossel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.slide img {
    max-width: 80%;
    border-radius: 10px;
}

.slide h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--roxo-escuro);
}

.slide p {
    font-size: 0.9rem;
    color: #777;
}

.sliders-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.2rem;
}

.sliders-carousel button.prev {
    left: 10px;
    background-color: var(--laranja);
    width: 2.2em;
    height: 2em;
}

.sliders-carousel button.next {
    right: 10px;
    background-color: var(--laranja);
    width: 2.2em;
    height: 2em;

}

.sliders-carousel button:hover {
    background-color: rgba(253, 165, 82, 0.8);
}