/* Estilos gerais */
.patrocinadores {
    text-align: center;
    padding: 50px 20px;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a seção */
    margin-top: 2%;
    margin-bottom: 2%;
}

.patrocinadores h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.patrocinadores-container {
    width: 100%;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
    margin: auto;
}

.patrocinadores-track {
    display: flex;
    justify-content: center;
}

.patrocinador {
    flex: 0 0 auto;
    width: 200px; /* Largura fixa para cada patrocinador */
    padding: 10px;
    background-color: #b9b9b925;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Espaço entre os patrocinadores */
}

.patrocinador img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}




@media (max-width: 480px) {
    .patrocinadores h2 {
        font-size: 1.5rem;
    }

    .patrocinador {
        width: 100px; /* Ajusta o tamanho dos itens para telas muito pequenas */
    }
}

@media (max-width: 768px) {
    .mobile-hidden {
        display: none; /* Esconde as divs extras em mobile */
    }

    .patrocinador {
        flex: 1 1 calc(50% - 10px); /* Exibe apenas 2 patrocinadores por linha */
    }
}