:root{
    --laranja-claro: hsla(5, 86%, 75%, 0.94);
    --laranja-escura:#761810;
    --laranja: #f27100;
    --cinza-claro:#404144;
    --roxo:#56048C;
    --roxo-claro:#6b1ca0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}