* {
    margin: 0;
    padding: 0;

}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    line-height: 1.2;
    box-sizing: border-box;
    padding: 20px;
}

.text-content {
    flex: 1;
    max-width: 80%;
}

.text-content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.text-content p {
    margin-bottom: 3rem;
    color: #555;
    font-size: 1.5rem;
}

.steps {
    margin: 1rem 0;
}

.steps p {
    margin: 0.5rem 0;
}

.steps p span {
    font-weight: bold;
    color: #f97316;
    margin-right: 0.5rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f97316;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e65c00;
}

.slider {
    flex: 1;
    min-width: 280px;
    max-width: 600px;
    position: relative;
    text-align: center;
    margin: auto;
}

.slider img {
    width: 80%;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.slider .caption{ 
    font-size: rem;
    transition: opacity 0.5s ease-in-out;
}

.slider .caption h2 {
    font-size: 1.7rem;
    color: #333;
}

.slider .caption p {
    color: #000000;
    font-size: 1.2rem;
}

.slider .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider .navigation button {
    background-color: rgb(244, 122, 0);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .slider {
        margin-top: 20px;
    }

    .text-content {
        max-width: 100%;
    }

    .button {
        font-size: 1.2rem;
    }
}